---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';


const metadata = {
  title: 'Nander\'s Portfolio',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Explore My Work',
        href: '#projects',
        icon: 'tabler:code',
      },
      {
        text: 'Connect with Me',
        href: '#contact',
        icon: 'tabler:message',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="text-blue-600 dark:text-blue-400">Innovating Through Code, Collaboration & Creativity</span>
    </Fragment>

    <Fragment slot="subtitle">
      Hi, I'm <strong>Nander Speerstra</strong>, a <span class="text-blue-600 dark:text-blue-400">MLOps Engineer & Software Developer</span>
      exploring software projects, machine learning projects and photography.
    </Fragment>
  </Hero>
</Layout>
