---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Nander\'s Portfolio',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <div class="flex flex-col md:flex-row items-center justify-center py-12">
    <Hero>
      <Fragment slot="title">
        <span class="text-blue-600 dark:text-blue-400">Welcome</span>
      </Fragment>

      <Fragment slot="subtitle">
        Hi, I'm <strong>Nander Speerstra</strong>, a <span class="text-blue-600 dark:text-blue-400">MLOps Engineer & Software Developer</span>
        exploring software projects, machine learning projects and photography.
      </Fragment>
    </Hero>
    <img src="src/assets/images/nander.jpg" alt="Nander Speerstra" class="rounded-full shadow-md">
</Layout>
