<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}Portfolio{% endblock %}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Shared Header -->
    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
          <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
            <h1 class="sitename">Nander Speerstra</h1>
          </a>
          <nav id="navmenu" class="navmenu">
            <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="#what-i-do">What I Do</a></li>
              <li><a href="{% url 'who-i-am' %}">Who I Am</a></li>
              <li><a href="#photography">Photography</a></li>
            </ul>
          </nav>
          <div class="header-social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </header>

    <!-- Content Block -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer id="footer" class="footer">

        <div class="container">
          <div class="copyright text-center ">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">EasyFolio</strong> <span>All Rights Reserved</span></p>
          </div>
          <div class="social-links d-flex justify-content-center">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you've purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>

      </footer>

      <!-- Scroll Top -->
      <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

      <!-- Vendor JS Files -->
      <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static '/vendor/php-email-form/validate.js' %}"></script>
      <script src="{% static '/vendor/aos/aos.js' %}"></script>
      <script src="{% static '/vendor/waypoints/noframework.waypoints.js' %}"></script>
      <script src="{% static '/vendor/glightbox/js/glightbox.min.js' %}"></script>
      <script src="{% static '/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
      <script src="{% static '/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
      <script src="{% static '/vendor/swiper/swiper-bundle.min.js' %}"></script>

      <!-- Main JS File -->
      <script src="{% static '/js/main.js' %}"></script>
</body>
</html>
