name: CD - Deploy Portfolio Website

on:
  release:
    types:
      - published

jobs:
  precommit-and-lint:
    if: "!startsWith(github.event.pull_request.title, 'chore(main)')"
    uses: ./.github/workflows/_precommit-and-lint.yml
    with:
      node_version: '20'

  npm-build:
    uses: ./.github/workflows/_npm-build.yml
    needs: precommit-and-lint
    with:
      node_version: '20'

  docker-push:
    name: Deploy Docker Image to DockerHub
    runs-on: ubuntu-latest
    needs: npm-build
    permissions:
      contents: read
    steps:
      - name: Download built files (dist)
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/

      - name: Download NGINX config
        uses: actions/download-artifact@v4
        with:
          name: nginx-config
          path: nginx/

      - name: Download Dockerfile
        uses: actions/download-artifact@v4
        with:
          name: dockerfile
          path: .

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Sanitize Version Tag
        id: sanitize_tag
        run: |
          RAW_TAG="${{ github.event.release.tag_name }}"
          CLEAN_TAG=${RAW_TAG#v}
          echo "clean_tag=$CLEAN_TAG" >> $GITHUB_ENV
        shell: bash

      - name: Push Docker Image with Tags
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/portfolio:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/portfolio:${{ env.clean_tag }}
